.headerWrapper {
  height: 100px;
  background-color: white;
  padding: 9px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body {
  background: url("./images/backg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 100px;
}
.userName {
  font-weight: bold;
  font-size: 40px;
}
.userAvatarWrapper {
  width: 80px;
  height: 80px;
}
.userAvatarImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;

}
.footer {
  height: 100px;
  background-color: white;
  padding: 12px 15px;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.footerItems {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  width: 100%;
}
.footerItemImgWrapper {
  width: 40px;
  height: 40px;
}
.footerItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footerItem:hover {
  cursor: pointer;
}
.footerItemImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footerItemLabel {
  font-size: 20px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
.startpageWrapper {
  background: rgba(196, 205, 214, 0.6);
  border: 1px solid #C9C9C9;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 43px 10px 47px;

}
.startpageContainer {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.diamondImgWrapper {
  width: 112px;
  height: 116px;
  margin-bottom: 5px;
}
.diamondImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.startpageText {
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  padding-bottom: 31px;
}
.connectBtn {
  text-align: center;
  padding: 7px 16px;
  background-color: rgba(26, 173, 250, 1);
  border-radius: 5px;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  border: none;
  color: white;
}
.connectBtn:hover {
  cursor: pointer;
}

.homepageContainer {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.homepageWrapper {
  border: 1px solid rgba(201, 201, 201, 1);
  background-color: rgba(231, 231, 231, 0.47);
  padding: 18px 18px 30px 18px;
  border-radius: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcomeText {
  font-weight: 700;
  font-size: 21px;
  margin: 0;
}
.amountWrapper {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 36px;
}
.amount {
  font-weight: 700;
  font-size: 28px;
  padding: 0;
  margin: 0;
}
.diamondImgHomepage {
  width: 35px;
  height: 35px;
}
.homepageDescr {
  font-weight: 400;
  font-size: 11px;
  margin: 0;
}
.leaderboardContainer {
  width: 90%;
  /*position: absolute;*/
  /*top: 50%;*/
  /*left: 50%;*/
  /*transform: translate(-50%, -50%);*/

  display: flex;
  flex-direction: column;
  /*height: calc(100vh - 125px); !* 200px accounts for the header and footer height *!*/
  margin: 25px auto 0 auto;
  justify-content: flex-start;
  padding-bottom: 100px;
}
.blueContainer {
  background-color: rgba(164, 210, 255, 1);
  padding: 8px 15px 8px 8px;
  border-radius: 10px;
  display: flex;
  gap: 8px;
  position: relative;

}
.blueContainer::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -5px;
  width: 0;
  height: 0;
  border: 18px solid transparent;
  border-top-color:  rgba(164, 210, 255, 1);
  border-bottom: 0;
  border-right: 0;
  margin-left: -5px;
  margin-bottom: -10px;
  transform: rotate(-30deg);
}
.blueContainerItem {
  padding: 5px;
  background-color: rgba(239, 238, 244, 1);
  border-radius: 10px;
  width: 50%;
  justify-content: space-between;
  text-align: center;
}
.blueContainerItemTitle {
  color: rgba(0, 86, 131, 1);
  font-size: 16px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}
.blueContainerItemSubtitle {
  font-size: 13px;
  font-weight: 400;
  color: rgba(0, 61, 93, 1);
  padding: 0;
  margin: 0;
}
.whiteContainer {
  padding: 8px 15px 8px 8px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  margin-top: 8px;
}
.whiteContainer::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 18px solid transparent;
  border-top-color:  white;
  border-bottom: 0;
  border-left: 0;
  margin-left: -5px;
  margin-bottom: -10px;
  transform: rotate(30deg);
}
.whiteContainerContent {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.friendsUsers {
  padding: 8px 15px 8px 8px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  margin-top: 8px;
}
.friendsUsers::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -5px;
  width: 0;
  height: 0;
  border: 18px solid transparent;
  border-top-color:  white;
  border-bottom: 0;
  border-right: 0;
  margin-left: -5px;
  margin-bottom: -10px;
  transform: rotate(-30deg);
}

.questsPage {
  width: 90%;
  margin: 45px auto 0;
}
.whiteContainerQuest {
  background-color: rgba(255, 255, 255, 1);
  padding: 10px 7px;
  border-radius: 10px;
  position: relative;
}
.whiteContainerQuest::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 1px;
  width: 0;
  height: 0;
  border: 18px solid transparent;
  border-top-color: rgba(255, 255, 255, 1);
  border-bottom: 0;
  border-left: 0;
  margin-left: -5px;
  margin-bottom: -10px;
  transform: rotate(30deg);
}
.taskTitle {
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
  font-size: 13px;
  margin: 0 0 5px 0;
  padding: 0;
}
.questItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(239, 238, 244, 1);
  border-radius: 3px;
  margin-bottom: 5px;
  padding: 6px 9px 10px 6px;
}
.questIcon {
  display: flex;
}
.questItemLeft {
  display: flex;
  gap: 8px;
  align-items: center;
}
.questTitle {
  font-weight: 700;
  font-size: 8px;
  color: rgba(0, 0, 0, 1);
  padding: 0;
  margin: 0;
}
.questSubtitle {
  color: rgba(79, 79, 79, 1);
  font-size: 7px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
.questBtn {
  border: none;
  background-color: rgba(88, 88, 88, 1);
  border-radius: 11px;
  padding: 4px 8px;
  font-size: 8px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}
.weeklyTaskContainer {
  /*margin-top: 15px;*/
  margin-bottom: 10px;
}
.blueContainerQuest {
  background-color: rgba(164, 210, 255, 1);
  padding: 10px 7px;
  border-radius: 10px;
  position: relative;
}
.blueContainerQuest::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -5px;
  width: 0;
  height: 0;
  border: 18px solid transparent;
  border-top-color:  rgba(164, 210, 255, 1);
  border-bottom: 0;
  border-right: 0;
  margin-left: -5px;
  margin-bottom: -10px;
  transform: rotate(-30deg);
}
.inviteFriendsItem {
  padding: 8px;
  background-color: rgba(238, 238, 238, 1);
  border-radius: 4px;
  display: flex;
  gap: 6px;
  align-items: center;
  margin-bottom: 5px;
}
.inviteFriendsText {
  color: rgba(0, 0, 0, 1);
  font-size: 8px;
  font-weight: 700;
}
.inviteFriendsWrapper {
  margin-bottom: 20px;
}
#noFriendsWrapper {
  padding-top: 10px;
  padding-bottom: 20px;
}
.friendsItems {
  padding: 14px 11px 8px 11px;
}
.friendsItemText {
  font-weight: 700;
  font-size: 10px;
  color: rgba(0, 0, 0, 1);
  padding: 0;
  margin: 0;
}
.friendsItem {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}
.linkBtn {
  border: none;
  background-color: rgba(1, 154, 229, 1);
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  width: 85%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.linkCopyWrapper {
  display: flex;
  gap: 6px;
  justify-content: space-between;
}
.copyBtn {
  border: none;
  border-radius: 5px;
  background-color: rgba(238, 238, 238, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.leaderboardItem {
  display: flex;
  justify-content: space-between;
  padding: 5px 8px;
  align-items: center;
}
.leaderboardItemLeft {
  display: flex;
  gap: 3px;
  flex-direction: row;
  align-items: center;

}
.leaderboardTitle {
  font-size: 9px;
  font-weight: 700;
  padding: 0;
  margin: 0 0 3px 0;
}
.leaderboardSubtitle {
  font-weight: 400;
  font-size: 6px;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.leaderboardItemRight {
  margin: 0;
  padding: 0;
  font-size: 11px;
  display: flex;
  align-items: center;
}
.leaderboardScroll {
  overflow-y: scroll;
  max-height: 400px;
}



/**/

.questsPage {
  display: flex;
  flex-direction: column;
  /*height: calc(100vh - 125px); !* 200px accounts for the header and footer height *!*/
  margin: 25px auto 0 auto;
  justify-content: flex-start;
  padding-bottom: 100px; /* Additional padding to make room for the footer */
  /*margin-top: 100px;*/
}
.friendsPage {
  width: 90%;
  display: flex;
  flex-direction: column;
  /*height: calc(100vh - 125px); !* 200px accounts for the header and footer height *!*/
  margin: 25px auto 0 auto;
  justify-content: flex-start;
  padding-bottom: 100px; /* Additional padding to make room for the footer */
  /*margin-top: 100px;*/
}
.questsDone {
  width: 90%;
  display: flex;
  flex-direction: column;
  /*height: calc(100vh - 125px); !* 200px accounts for the header and footer height *!*/
  margin: 25px auto 0 auto;
  justify-content: flex-start;
  padding-bottom: 100px; /* Additional padding to make room for the footer */
  /*margin-top: 100px;*/
}
.friendsContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
}
.leaderboardSpecialContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
}
.questsPageSpecialContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
}

.whiteContainerQuest, .friendsUsers {
  margin-bottom: 10px;
}
/**/
@media (max-width: 500px) {
  .userName {
    font-weight: 400;
    font-size: 17px;
  }
  .headerWrapper {
    height: 55px;
    box-sizing: border-box;
    padding: 10px 23px;

  }
  .userAvatarWrapper {
    width: 50px;
    height: 50px;
  }
  .footerItemImgWrapper {
    width: 23px;
    height: 23px;
  }
  .footerItemLabel {
    font-size: 10px;
    margin-top: 5px;
  }
  .footer {
    height: 55px;
    padding: 0px 23px;
  }
}